extends layout
block content
    body
        h2 Your off days made easier...
        
        div.explain
            p.text  
                |When you request off, you should not have to worry
                |about when you can do it, or if its going to be a
                |hassle. That is why we are here, to make your 
                |request our job!
            
        div.simple
            p.simpleText
                |With our software, everything is simple. Just put
                |in the date you request off, and we handle the rest.
